pageInfo:
  title: Home lab
  description: Private homelab dashboard ♥️

appConfig:
  theme: colorful
  disableConfiguration: true
  hideComponents:
    hideSettings: true
    hideFooter: true
    hideNav: true

sections:
- name: Utilities & Network
  items:
  - title: Portainer
    icon: hl-portainer
    url: "https://portainer.{{ domain }}"
    target: newtab
  - title: Authentik
    url: "https://auth.{{ domain }}"
    icon: https://cf.appdrag.com/dashboard-openvm-clo-b2d42c/uploads/goauthentik-LRFF.png
    target: newtab
  - title: Traefik
    icon: hl-traefik
    url: "https://traefik.{{ domain }}"
    target: newtab
  - title: Duplicati
    icon: hl-duplicati
    url: "https://duplicati.{{ domain }}"
    target: newtab
  - title: Wireguard
    icon: hl-wireguard
    url: "https://wireguard.{{ domain }}"
    target: newtab
  - title: LibreSpeed
    icon: hl-librespeed
    url: "https://speed.{{ domain }}"
    target: newtab
  - title: Vaultwarden
    icon: hl-vaultwarden
    url: "https://vaultwarden.{{ domain }}"
    target: newtab
  - title: qBittorrent
    icon: hl-qbittorrent
    url: "https://qbittorrent.{{ domain }}"
    target: newtab

- name: Monitoring
  items:
  - title: Grafana
    icon: hl-grafana
    url: "https://grafana.{{ domain }}"
    target: newtab
  - title: Prometheus
    icon: hl-prometheus
    url: "https://prometheus.{{ domain }}"
    target: newtab
  - title: Uptime Kuma
    icon: hl-uptime-kuma
    url: "https://status.{{ domain }}"
    target: newtab

- name: Media & Cloud
  items:
  - title: Jellyfin
    icon: hl-jellyfin
    url: "https://jellyfin.{{ domain }}"
    target: newtab
  - title: Nextcloud
    icon: hl-nextcloud
    url: "https://cloud.{{ domain }}"
    target: newtab
  - title: Prowlarr
    icon: hl-prowlarr
    url: "https://prowlarr.{{ domain }}"
    target: newtab
  - title: Sonarr
    icon: hl-sonarr
    url: "https://sonarr.{{ domain }}"
    target: newtab
  - title: radarr
    icon: hl-radarr
    url: "https://radarr.{{ domain }}"
    target: newtab
  - title: Jellyseerr
    icon: hl-Jellyseerr
    url: "https://Jellyseerr.{{ domain }}"
    target: newtab
